{:path ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version"1.10.339"}
        org.clojure/core.async {:mvn/version "0.4.474"}
        org.clojure/tools.logging {:mvn/version "0.4.0"}
        aleph {:mvn/version "0.4.6"}
        gloss {:mvn/version "0.2.6"}
        cheshire {:mvn/version "5.8.0"}
        rethinkdb-protobuf {:mvn/version "2.3.0"}
        clj-time {:mvn/version "0.14.4"}
        com.google.protobuf/protobuf-java {:mvn/version "3.6.1"}}}
